@charset "UTF-8";
/* mobile style */
* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
body,
form,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
fieldset,
th,
td,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif;
  font-weight: normal;
}
body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a[href^="tel"] {
  font-style: normal;
}
address,
caption,
em,
var {
  font-style: normal;
  font-weight: normal;
}
input,
textarea,
select {
  letter-spacing: normal;
}
ol,
ul,
dl {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
legend,
caption {
  display: none;
}
img {
  border: 0;
  vertical-align: top;
}
hr {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
br {
  letter-spacing: normal;
}
p {
  letter-spacing: normal;
}
input {
  vertical-align: middle;
}
input[type="text"],
input[type="password"] {
  -webkit-appearance: none;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
input:checked[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input[type="radio"] {
  border: none;
  -webkit-appearance: none;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
  -webkit-appearance: button;
  border-radius: 0;
}
textarea {
  -webkit-appearance: none;
}
select {
  -webkit-appearance: menulist-text;
}

html {
    background-color: black;
}
body {
    width: 375px;
    height: 812px;
    background-color: #FFFFFF;
    padding-bottom: 82.8px;

}
header {
    width: 100%;
    height: 82.8px;
    position: relative;
}
.home-icon {
    position: absolute;
    bottom: 0;
    right: 34.79px;
    width: 23.42px;
    height: 22.8px;
}
.title {
    font-size: 2.25rem;
    color: #111111;
    text-align: center;
}
.editor-list {
    width: 100%;
    height: 85.13px;
    margin-top: 33.35px;
    display: flex;
    justify-content: space-around;
}
.editor-info {
    width: 100%;
    height: 85px;
}
.editor-name {
    font-size: 1.5rem;
    color: #111111;
    text-align: center;
}
.editor-instagram {
    font-size: 0.625rem;
    color: #ABABAB;
    text-align: center;
}
.editor-introduction {
    font-size: 0.75rem;
    color: #646464;
    text-align: center;
    padding-top: 5.79px;
    padding-bottom: 22px;
}
.editor {
    width: 56px;
    height: 85px;
}
.editor-icon {
    width: 100%;
    height: 85px;
    cursor: pointer;
}
.editor-line{
    width: 100%;
    height: 58.87px;
}
.editor-comment-box {
    width: 100%;
    height: 77px;
    padding: 0 50px;
    margin-bottom: 20px;
    display: flex;
}
.comment-img {
    width: 78px;
    height: 77px;
    border-radius: 5px 5px 5px 5px;
    background-color: goldenrod;
}
.editor-comment {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    justify-content: space-around;
    width: 151px;
}
.comment-title, .comment {
    font-size: 0.75rem;
    color: #111111;
}
.comment-date {
    font-size: 0.625rem;
    color: #ABABAB;
}
